  .login-heading{
    color: rgb(9, 124, 159);
    margin-top: -50px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
  }
  h2{
    color: rgb(9, 124, 159);
    margin-top: -7px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
  }

  .login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
    color: #fff;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-form h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-button {
    width: 60%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #727272;
    color: white;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    margin-bottom: 1rem;
    text-align: center;
  }
  .nav_register{
    width: 60%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #727272;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
  }
  